@import "NullMyCss.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


body {
  font-family: 'PT Sans', sans-serif;
  &.active {
    overflow: hidden;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  width: 100%;
  height: auto;
  position: relative;

}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

.header {
  padding: 30px 0 33px 0;
  transition: all 0.3s ease 0s;
  @media (max-width: 920px) {
    padding: 0 0 30px 0;
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  &.active {
    position: fixed;
    background-color: #ebebeb;
    z-index: 20;
  }
}

.header-up {
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease 0s;
  @media (max-width: 920px) {
    position: relative;
    z-index: 2;
    top: 130px;
  }

  &__link {
    font-size: 15px;
    text-decoration: underline;
    line-height: 1.67;
    color: #000;
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    text-transform: uppercase;
  }
}

.header-up-lang {
  display: flex;
  @media (max-width: 920px) {
    justify-content: center;
    align-items: center;
  }
}

.lang {
  &__link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #000;
    padding: 0 4px;
    text-transform: uppercase;
    margin: 0 11px 0 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &.active {
      background-color: #000;
      color: #fff;
    }
  }
}

.header-down {
  display: flex;
  align-items: center;
  margin: -27px 0 0 0;
  @media (max-width: 920px) {
    flex-direction: column;
  }

  &__column {
    flex: 0 1 100%;
    @media (max-width: 920px) {
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(1) {
        order: 2;
        display: none;
      }
      &:nth-child(3) {
        order: 3;
        display: none;
      }
    }

    &.active {
      &:nth-child(1),
      &:nth-child(3) {
        display: flex;
      }
    }
  }

  &__nav {
    @media (max-width: 920px) {
      transform: translate(0, -1000px);
    }

    &.active {
      transform: translate(0, 0);
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease 0s;
    @media (max-width: 920px) {
      display: block;
    }
  }

  &__link {
    font-size: 15px;
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    line-height: 1.67;
    letter-spacing: 1.5px;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    @media (max-width: 920px) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px;
    @media (max-width: 920px) {
      margin: 0 0 30px 0;
    }
  }

  &__text {
    display: block;
    font-size: 10px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 3.13;
    letter-spacing: 8px;
    color: #000;
    font-weight: 900;

    &:first-child {
      letter-spacing: 6px;
    }
  }

  &__logo {
    display: inline-block;
    margin: 3px 0 10px 0;
    //@media (max-width: 540px) {
    //  width: 150px;
    //}
  }

  &__icon {
    display: none;
    position: absolute;
    width: 25px;
    height: 14px;
    top: 18px;

    span {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      background-color: #000;
      width: 100%;
      height: 2px;
      transition: all 0.3s ease 0s;
    }

    &:after,
    &:before {
      transition: all 1s ease 0s;
      content: "";
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 2px;
    }

    &:after {
      bottom: 0;
    }

    &:before {
      top: 0;
    }

    &.active {

      span {
        visibility: hidden;
        opacity: 0;
      }

      &:after {
        transform: rotate(45deg) translate(0, -50%);
        top: 50%;
      }

      &:before {
        transform: rotate(-45deg) translate(0, -50%);
        top: 50%;
      }
    }

    @media (max-width: 920px) {
      display: block;
    }
  }


}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////


.private-catering {
  //display: none;
  &__row {
    display: flex;
    @media (max-width: 890px) {
      flex-direction: column
    }
  }

  &__column {
    flex: 0 1 50%;
    position: relative;
    @media (max-width: 890px) {
      flex: 0 1 100%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__item {
    position: relative;
    z-index: 2;
    height: 100%;
    display: block;
    @media (max-width: 890px) {
      height: auto;
      padding: 0 0 45% 0;
    }
  }

  &__body {
    padding: 82px 0 75px 62px;
    background-color: #000;
    @media (max-width: 890px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
    }
  }

  &__title {
    span {
      display: block
    }

    font-size: 50px;
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    line-height: 1;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 37px 0;
    @media (max-width: 890px) {
      span {
        display: inline-block
      }
    }
    @media (max-width: 460px) {
      font-size: 35px;
      text-align: center;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.67;
    color: #fff;
    margin: 0 0 55px 0;
    max-width: 303px;
    @media (max-width: 320px) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    @media (max-width: 380px) {
      flex-direction: column;
    }
  }

  &__butt {
    height: 50px;
    background-color: #fff;
    padding: 0 33px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.67;
    letter-spacing: 1.5px;
    color: #000;
    text-transform: uppercase;
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0;
    transition: all 0.3s ease 0s;

    &:last-child {
      margin: 0;
    }

    &:hover {
      background-color: transparent;
      color: #fff;
    }

    @media (max-width: 380px) {
      &:last-child {
        margin: 20px 0 0 0;
      }
      margin: 0;
    }
  }

}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////


.menus {
  padding: 75px 0 80px 0;

  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 25%;
  }

  &__item {
  }

  @media (max-width: 940px) {
    padding: 40px 0 30px 0;
    &__row {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;
    }
  }
  @media (max-width: 620px) {
    &__column {
      flex: 0 1 100%;
    }
  }
}

.item {

  &__img {
    width: 220px;
    height: 225px;
    margin: 0 0 25px 0;
  }

  &__title {
    span {
      display: block
    }

    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 2.5px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 35px 0;
  }


  &__text {
    font-size: 15px;
    line-height: 25px;
    color: #000;
    max-width: 200px;
    margin: 0 0 32px 0;
  }

  &__butt {
    height: 50px;
    padding: 0 40px;
    font-family: "Bebas Neue", sans-serif;
    background-color: #000;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 30px 0;
  }

  &__link {
    display: inline-block;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.67;
    letter-spacing: 1.5px;
    color: #000;
    text-decoration: underline;
    font-weight: 900;
  }

  @media (max-width: 940px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    &__text {
      text-align: center;
      margin: 0 0 20px 0;
    }
    &__title {
      span {
        display: inline
      }

      margin: 0 0 20px 0;
    }
    &__butt {
      margin: 0 0 25px 0;
    }
  }
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

.choose {
  position: relative;
  .container {
    padding: 0;
  }

  &_up {
    position: absolute;
    &__row {
      display: flex;
      flex-wrap: wrap;
    }

    &__column {
      flex: 0 1 50%;
    }
    @media (max-width: 880px) {
      &__row {
        flex-direction: column;
      }
      &__column {
        flex: 0 1 100%;
        height: 100%;
      }
    }
  }

  &__title {
    text-align: right;
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 5px;
    color: #fff;
    background-color: #000;
    padding: 60px 60px 60px 0;
    text-transform: uppercase;
    @media (max-width: 960px) {
      padding: 60px 25px 60px 0;
    }
    @media (max-width: 880px) {
      text-align: center;
      padding: 50px 0;
      font-size: 40px;
    }
    @media (max-width: 400px) {
      font-size: 35px;
    }
    @media (max-width: 300px) {
      font-size: 30px;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    @media (max-width: 880px) {
      height: auto;
      padding: 0 0 15% 0;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__body {
    padding: 0 0 50px 0;
    background-color: #ebebeb;
    @media (max-width: 880px) {
      margin: 14% 0 0 0;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 880px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__column {
    flex: 0 1 50%;
    @media (max-width: 880px) {
      flex: 0 1 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__block {
  }
}

.block {
  @media (max-width: 880px) {
    width: 410px;
  }
  @media (max-width: 460px) {
    max-width: 270px;
  }
  &__row {
    padding: 0 15px;
    display: flex;
    @media (max-width: 880px) {
      padding: 0;
    }
    @media (max-width: 460px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__column {
    margin: 50px 0 0 0;
  }

  &__img {
    width: 100px;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    margin: 0 0 0 12px;
  }

  &__title {
    font-size: 25px;
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    line-height: 1;
    letter-spacing: 2.5px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }

  &__text {
    font-size: 15px;
    line-height: 1.67;
    color: #000;
  }
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

.hello {
  padding: 85px 0 40px 0;
  @media (max-width: 610px) {
    padding: 50px 0 40px 0;
  }
  &__row {
    display: flex;
    @media (max-width: 610px) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 0 1 50%;
    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    font-size: 50px;
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    line-height: 0.5;
    letter-spacing: 5px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    @media (max-width: 610px) {
      font-size: 45px;
    }
  }

  &__coordinate {
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
    font-size: 15px;
    color: #000;
    i {
      padding: 0 10px 0 0;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #000;
    i {
      padding: 0 5px 0 0;
    }
  }

  &__mail {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 65px 0 0 0;
    color: #000;
    i {
      padding: 0 10px 0 0;
    }
    @media (max-width: 610px) {
      margin: 30px 0 0 0;
    }
  }

  &__social {
    margin: 35px 0 0 0;
  }

  &__links {
    display: flex;
    margin: 0 -15px;
  }

  &__link {
    padding: 0 15px;
  }
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

.message {
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  @media (max-width: 950px) {
    &__row {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 100%;
    }
    &__item {
      height: auto;
      padding: 0 0 40% 0;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__body {
    padding: 55px 0 50px 60px;
    background-color: #000;
    @media (max-width: 950px) {
      padding: 55px 0 50px 0;
    }
  }

  &__title {
    font-size: 25px;
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    letter-spacing: 2.5px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 30px 0;

  }

  &__form {
    max-width: 395px;
    padding: 0 15px;
    @media (max-width: 950px) {
      margin: 0 auto;
    }
  }

  &__name {
    border: solid 2px #959595;
    background-color: #252525;
    width: 100%;
    height: 45px;
    font-size: 15px;
    line-height: 1.67;
    color: #959595;
    padding: 0 20px;
    margin: 0 0 25px 0;
  }

  &__email {
    border: solid 2px #959595;
    background-color: #252525;
    width: 100%;
    height: 45px;
    font-size: 15px;
    line-height: 1.67;
    color: #959595;
    padding: 0 20px;
    margin: 0 0 25px 0;
  }

  &__mess {
    border: solid 2px #959595;
    background-color: #252525;
    width: 100%;
    height: 95px;
    font-size: 15px;
    line-height: 1.67;
    color: #959595;
    padding: 10px 20px 0 20px;
    margin: 0 0 25px 0;
    resize: none;
  }

  &__butt {
    cursor: pointer;
    height: 50px;
    background-color: #fff;
    padding: 0 23px;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.67;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    transition: all 0.3s ease 0s;
    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

.footer {
  padding: 45px 0;
  @media (max-width: 600px) {
    padding: 30px 0;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  &__directed {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 600px) {
      margin: 0 0 30px 0;
    }
  }
}
